
body {
  background-color: #e9eff5;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000; 
  color: #fff;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #fff; 
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #333; 
  text-emphasis-color: #fff;
  border-radius: 5px;
}


form {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form textarea, form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
}

form input:focus, form textarea:focus, form select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.btn {
  width: 100px;
  padding: 5px 55px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  text-align: center;
  margin: 20px auto;
}

.btn:hover {
  background-color: #2980b9;
}

/* Ajustes de contenedor en pantallas grandes */
@media (min-width: 768px) {
  .container-fluid {
    width: 50%;
    margin: 50px auto;
  }
}

/* Diseño en pantallas pequeñas */
@media (max-width: 768px) {
  .d-flex {
    display: none;
  }
}
